@font-face {
    font-family: 'NASA';
    src: url('../../assets/Nasa.ttf');
}
$font-family: 'NASA';

//$menu-color:  #77a5f3;
$menu-color-dark: #0d4097;
//$background-color: rgb(249, 255, 172);
$background-color:  #77a5f3;
$background-header:  #ce0101;
$text-color: #F7F1E7;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;