@import './views/app';
@import './components/header';
@import './components/nav';
@import './components/main';
@import './components/home';
@import './components/landing';
@import './components/list';

@import './components/footer';
